*.idea
*.settings
*.test-output/
*.test-output
*.classpath
*.project
*.html
*.jpg
*.js
*.css
*.class
*.log
*.md
*.target
*.jar
*.metadata
*.txt
*.iml

/target/
/bin/
/test-output/
ZiroomApiCase/src/main/
ZiroomApiCase/target/classes/
ZiroomApiCase/target/generated-test-sources/
ZiroomApiCase/target/test-classes/
ZiroomApiCase/test-output/html/
keeperScript/src/test/
keeperScript/target/classes/keeper/
keeperScript/target/generated-sources/
keeperScript/target/surefire/
